html
{
	font-family: maxFont, sans-serif;
	height: 100%;
    	scrollbar-face-color: #16181b;	
    	scrollbar-shadow-color: #444444;	
    	scrollbar-highlight-color: #444444;	
    	scrollbar-3dlight-color: #1E1E1E;	
   	scrollbar-darkshadow-color: #1E1E1E;	
    	scrollbar-track-color: #595959;		
    	scrollbar-arrow-color: #595959;	
	background:#000000;		
}
body
{
	margin:0;
	background:#000000;
	color: #000000;
}

.refreshButton {
	font-weight:800;
	font-size:16px;
	padding: 8px 20px 8px 20px;
}

.vip {
	background-image:url("images/VIP/background-long.jpg");
	background-repeat: no-repeat;
	text-align:center;
	min-height: 100%;
}

.googleFormFrame {
	margin-top:50px
}

.rotate90droite {
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
}

a.blanc
{
	text-decoration:none;
	color:#FFFFFF;
}
a.bleu
{
	text-decoration:none;
	color:#FFCDB7;
}
a.vert
{
	text-decoration:none;
	color:#98DEAA;
}
a.minoura
{
	text-decoration:none;
	color:#E60011;
}
a.retina
{
	text-decoration:none;
	color:#BFC2C9;
}
a.sonatural
{
	text-decoration:none;
	color:#BFC2C9;
}
a.neurone
{
	text-decoration:none;
	color:#BFC2C9;
}
a.cinq_dix
{
	text-decoration:none;
	color:#549965;
}
a.velo_2012
{
	text-decoration:none;
	color:#D3F5C9;
}
a.accessoire
{
	text-decoration:none;
	color:#9C9FA4;
}
a.perpetual_wheel
{
	text-decoration:none;
	color:#D4D6D8;
}

hr.bas
{
	width:100%;
	color:#333333;
	text-align:center;
}

b.textMenu1_etage1
{
	font-family: maxFont, sans-serif;
	font-size: 20px;
	font-weight:normal;
}
b.textMenu1_etage2
{
	font-family: maxFont, sans-serif;
	font-size: 14px;
	font-weight:normal;
	padding-left: 30px;
}
b.textMenu1_etage3
{
	font-family: maxFont, sans-serif;
	font-size: 14px;
	font-weight:normal;
	padding-left: 60px;
}
b.textMenu2
{
	font-family: maxFont, sans-serif;
	font-size: 15px;
	font-weight:normal;
}
b.textHeure
{
	font-family: maxFont, sans-serif;
	font-size: 14px;
	color:#325D4D;
	font-weight:normal;
}
b.textBas1
{
	font-family: maxFont, sans-serif;
	font-size: 12px;
	color:#98DEAA;
	font-weight:normal;
}
b.textBas2
{
	font-family: maxFont, sans-serif;
	font-size: 12px;
	color:#000000;
	font-weight:normal;
}

b.textFrame1
{
	font-family: maxFont, sans-serif;
	font-size: 20px;
	color:#1D342B;
	font-weight:normal;
}
b.textFrame2
{
	font-family: maxFont, sans-serif;
	font-size: 15px;
	color:#1D342B;
	font-weight:normal;
}
b.textFrame2>i
{
	font-family: maxFont, sans-serif;
	font-size: 15px;
	color:#FC0303;
	font-weight:normal;
}
b.textFrame2>p
{
	font-family: maxFont, sans-serif;
	font-size: 20px;
	color:#FC0303;
	text-align:center;
	font-weight:600;
	margin-top: 0px;
}
b.textFrame3
{
	font-family: maxFont, sans-serif;
	font-size: 12px;
	color:#1D342B;
	padding-left: 10px;
}
b.textFrame4
{
	font-family: maxFont, bold;
	font-size: 30px;
	color:#1D342B;
}
b.textFrame5
{
	font-family: maxFont, sans-serif;
	font-size: 12px;
	color:#325D4D;
}
b.textFrame6
{
	font-family: maxFont, sans-serif;
	font-size: 10px;
	color:#325D4D;
}
b.textFrame7
{
	font-family: maxFont, sans-serif;
	font-size: 12px;
	color:#AD0C18;
}
b.textFrame8
{
	font-family: maxFont, sans-serif;
	font-size: 12px;
	color:#E7182B;
}
hr.frame1
{
	width:100%;
	color:#CEFFED;
	text-align:center;
}
a.lienframe1
{
	text-decoration:none;
	color:#1D342B;
}

b.textFiche1
{
	font-family: maxFont, sans-serif;
	font-size: 20px;
	color:#1D342B;
	font-weight:normal;
}
b.textFiche2
{
	font-family: maxFont, sans-serif;
	font-size: 12px;
	color:#1D342B;
}
b.textFiche3
{
	font-family: maxFont, sans-serif;
	font-size: 12px;
	color:#738297;
}
b.textFiche4
{
	font-family: maxFont, sans-serif;
	font-size: 14px;
	color:#C82128;
}
b.textFiche5
{
	font-family: maxFont, sans-serif;
	font-size: 18px;
	color:#C82128;
}
b.textFiche6
{
	font-family: maxFont, sans-serif;
	font-size: 10px;
	color:#1D342B;
}
b.textFiche7
{
	font-family: maxFont, sans-serif;
	font-size: 14px;
	color:#009764;
}
b.textFiche8
{
	font-family: maxFont, sans-serif;
	font-size: 14px;
	color:#740815;
}

b.vert_accordd
{
	font-family: maxFont, sans-serif;
	font-size: 14px;
	color:#30B27E;
}
b.vert_club_velomane
{
	font-family: maxFont, sans-serif;
	font-size: 14px;
	color:#122384;
}
b.rouge_liquidation_vip
{
	font-family: maxFont, sans-serif;
	font-size: 14px;
	color:#730000;
}
b.vert_club_velochronos
{
	font-family: maxFont, sans-serif;
	font-size: 14px;
	color:#107400;
}

input.input_1_club_velomane
{
	font-family: maxFont, sans-serif;
	font-size: 12px;
	background: #FFE87A;
	border-width: 1px;
	border-style: solid;
	border-color: #111111;
	font-style: bold;
	color: #000000;
}

textarea.textarea_1_club_velomane
{
	font-family: maxFont, sans-serif;
	font-size: 14px;
	width: 450;
	background: #FFE87A;
	border-width: 1px;
	border-style: solid;
	border-color: #111111;
	color: #000000;
}

input.input_1_liquidation_vip
{
	font-family: maxFont, sans-serif;
	font-size: 12px;
	background: #3C3C3C;
	border-width: 1px;
	border-style: solid;
	border-color: #AAAAAA;
	font-style: bold;
	color: #FFFFFF;
}

textarea.textarea_1_liquidation_vip
{
	font-family: maxFont, sans-serif;
	font-size: 14px;
	width: 450;
	background: #3C3C3C;
	border-width: 1px;
	border-style: solid;
	border-color: #AAAAAA;
	color: #FFFFFF;
}

input.input_1_contact
{
	font-family: maxFont, sans-serif;
	font-size: 12px;
	background: #3C3C3C;
	border-width: 1px;
	border-style: solid;
	border-color: #AAAAAA;
	font-style: bold;
	color: #FFFFFF;
}

textarea.textarea_1_contact
{
	font-family: maxFont, sans-serif;
	font-size: 14px;
	width: 550;
	background: #3C3C3C;
	border-width: 1px;
	border-style: solid;
	border-color: #AAAAAA;
	color: #FFFFFF;
}

.formField {
	font-family: maxFont, sans-serif;
	font-size: 15px;
	background: #eee;
	border-width: 1px;
	border-style: solid;
	border-color: #888;
	font-style: bold;
	color: #000;
	padding: 2px 4px 2px 4px;
	margin: 3px 0px 3px 0px;
}

select.formField {
	padding: 1px 4px 1px 4px;
}

.selectModel {
	width: 33%;
}

.selectUnit {
	width: 16%;
}

.inputText {
	width: 50%;
}

.inputNum {
	width: 16%;
}

.hidden {
	display: none;
}

.noSelect, .noSelect option:disabled {
	color: #555;
}

.noSelect option {
	color: #000;
}

.sendButton {
	font-weight: bold;
	padding: 4px 8px 4px 8px;
}

.sendButton:hover {
	border-color: #ff1818;
	background: #cc1818;
	cursor: pointer;
}

#prix {
	width: 90%;
	text-align: center;
	color: #ff1818;
	font-weight: bold;
	background: #eee
}

p {
	width: 92%;
}
/* -------------- MAX-FONT -------------- */
/*default version*/
@font-face {
	font-family: 'maxFont';
	src: url('fonts/MAX-REGULAR.OTF'); 
	src: 
		local('MAX-REGULAR'),
		local('MAX REGULAR'),
		url('fonts/MAX-REGULAR.OTF') 
		format('opentype');
}
/*bold version*/
@font-face {
	font-family: 'maxFont';
	src: url('fonts/MAX-BOLD.OTF'); 
	src: 
		local('MAX-BOLD'),
		local('MAX BOLD'),
		url('fonts/MAX-BOLD.OTF') 
		format('opentype');
		font-weight: bold;
}

@media screen and (max-width: 1200px) {.googleFormFrame {margin-top:150px;}}